

@font-face {
    font-family:'Saiyan-Sans Right Oblique.ttf';
    src: url('../fontes/Saiyan-Sans\ Right\ Oblique.ttf');
}

@font-face {
    font-family: 'DungeonDepths-owJWV.ttf';
    src: url('../fontes/DungeonDepths-owJWV.ttf');
}

@font-face {
    font-family:'Futura Bold.ttf' ;
    src: url('../fontes/Futura\ Bold.ttf');
}